@import "variables";
@import "mixins";

.page-header {
  text-align: center; 
  border-bottom: none;

  h1 { font-size: 22px; }
  div.published_info {
    font-size: 16px;
    font-weight: bold; 
    width: 320px;
    margin: 0px auto;
    margin-top: 10px;

    div.volume { float: left; }
    div.date { float: right; }
  }
  h2 {
    font-size: 14px;
    margin-top: 10px;
    color: @grayLight;
  }
}

table {
  border-bottom: solid 1px #ddd;
  td.column-1 {
    font-style: italic;
  }
  td.column-3 {
    text-align: right;
    padding-right: 12px;
  }
}