@import "variables";
@import "mixins";

.page-header {
  text-align: center; 
  border-bottom: none;

  h1 {
    font-size: 22px;
    span, small { font-size: 16px; }
    span {
      display: block;
      margin-bottom: 0.4em;
    }
  }
}

table {
  border-bottom: solid 1px #ddd;
  td.column-1 {
    font-style: italic;
  }
}