@import "bootstrap.less";

@inputWidth: 440px;

a.brand img { height: 16px; }

body {
  background-image: url('../img/bright_squares.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
  body { 
    background-image: url('/img/bright_squares_@2X.png');
    background-size: 50%;
  }
}

.main {
  padding: 20px;
  background: @white;
  margin-bottom: 20px; 
  .box-shadow(0px 3px 5px rgba(0,0,0,.4));
}

.navbar-fixed-top {
  img.gravatar {
    max-height: 28px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: 5px;
  }
}

footer {
  padding-top: 20px; 
  margin-top: 60px;
  text-align: center;
  font-size: .9em;
  color: @grayLight;
  border-top: solid 1px @grayLighter;
  
  p {
    margin: 0px;
    line-height: 1em;
  }
}

input, textarea, select, .uneditable-input {
  width: @inputWidth;
}

select { width: @inputWidth + 10px; }

.columns {
  .content-columns(2, @gridGutterWidth);
}

ul.clean {
  margin: (.5 * @gridGutterWidth) 0px @gridGutterWidth; 
  vertical-align: top;
  list-style-type: none;

  li {
    padding: 2px 0px; 
  }

  b {
    vertical-align: top;
    display: inline-block; 
    width: 180px;
    margin-right: @gridGutterWidth;
  }

  &.visible-phone {
    b {
      display: inline;
      width: auto;
      margin-right: .5 * @gridGutterWidth;
    }
  }
}

h1 { font-size: 22px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }

/* include user profile stuff */
@import "profile.less";
@import "submission-badge.less";
@import "notifications.less";