@import "variables";
@import "mixins";

.left, .right {
  h3 { margin-bottom: @gridGutterWidth; }
  input, select, textarea { 
    width: 100%;
    margin-right: @gridGutterWidth;
  }
}

.right {
  .coauthor {
    margin-bottom: @gridGutterWidth;
    border-bottom: solid 1px darken(@grayLighter, 5);
    &:last-child { border-bottom: none; }
  }
}