@import "variables";
@import "mixins";

.left h3, .right h3 { margin-bottom: @gridGutterWidth; }

.coauthor {
  margin-bottom: @gridGutterWidth;
  border-bottom: solid 1px @grayLight;
}

.right .coauthor:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}