.hidden { display: none; }
.clearfix { clear: both; }
body {
  font-size: 14px;
  font-family: georgia, times, serif;
  line-height: 1.4em;
  text-rendering: optimizeLegibility;
  color: #333333;
  text-shadow: 0px 0px 0.25px rgba(255, 255, 255, 0.25);
}
a {
  outline: none;
  color: inherit;
  text-decoration: none;
}
#top {
  margin-bottom: 1em;
  font-family: 'PT Serif', georgia, times, serif;
  vertical-align: middle;
}
#top img {
  max-height: 80px;
  vertical-align: middle;
  margin-top: -7px;
}
.left { float: left; }
.right { float: right; }
#top h1 {
  font-weight: normal;
  font-size: 2.5em;
  letter-spacing: -0.04em;
  text-align: left;
  margin-top: 5px;
}
#top h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.5em;
  letter-spacing: -0.04em;
  line-height: normal;
  text-align: left;
}
#wrapper {
  width: 800px;
  margin: 3em auto;
}
#content h1 {
  font-size: 1.4em;
  letter-spacing: -0.06em;
  margin: 0.75em 0px;
  font-family: helvetica, arial, verdana, sans-serif;
}
#content h1 span {
  font-style: italic;
  font-family: baskerville, georgia, times, serif;
  font-weight: normal;
}
#content p { margin-bottom: 1.4em; }
#content a {
  border-bottom: dotted 1px #990000;
  color: #990000;
}
#nav {
  background: #666666;
  background-color: #666666;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  border: solid 1px rgba(0, 0, 0, 0.25);
}
#nav ul { margin: 0px; }
#nav li { display: inline-block; }
#nav li a { display: inline-block; }
#nav a {
  font-family: helvetica, arial, verdana, sans-serif;
  padding: 0.5em 1.5em;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}
table.dates {
  margin: 1em auto;
  font-family: helvetica, arial, verdana, sans-serif;
}
table.dates th { padding: 0.25em 1em; }
td { padding: 0.25em 1em; }
table.dates th { text-align: left; }
table.dates td {
  text-align: right;
  padding-left: 4em;
}
#research_areas {
  margin: 0px auto;
  margin-top: -0.7em;
  margin-bottom: 0.7em;
}
#research_areas td { padding-right: 6em; }
#org_committee li { padding-left: 2em; }
#org_committee li strong { font-family: helvetica, arial, verdana, sans-serif; }
#banner {
  max-width: 800px;
  margin-top: 1.4em;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
ol { margin: 1.4em; }
ol li {
  list-style-type: decimal;
  margin-left: 2em;
}
ol li span {
  display: block;
  margin-left: 2em;
}
ol p.right label {
  display: block;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 0.8em;
  color: #666666;
  text-transform: uppercase;
  margin-top: -1em;
}
ol p textarea {
  font-family: helvetica, arial, verdana, sans-serif;
  padding: 1em;
  font-size: inherit;
  border: solid 1px #cccccc;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4) inset;
  line-height: 1.4em;
  height: 200px;
  color: #444444;
  width: 100%;
}
#footer {
  margin-top: 1.4em;
  padding-top: 1.4em;
  border-top: solid 1px #999999;
  font-size: 0.9em;
}
#contact { margin: 1.4em 0px; }
#footer .name {
  font-family: helvetica, arial, verdana, sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
}
#footer .chair {
  font-style: italic;
  display: block;
}
#footer .email {
  color: #990000;
  border-bottom: dotted 1px #990000;
}
