<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../includes/css/reveal.css">
    <link rel="stylesheet" type="text/css"
	  href="../includes/css/reset.css">
    <link rel="stylesheet" type="text/css"
	  href="../includes/css/master2.css" media="screen,print">
    <link rel="stylesheet" type="text/css" href="../includes/css/schedule.css" media="screen,print">
    <link rel="stylesheet" type="text/css"
	  href="../includes/css/print2.css" media="print">
    <script type="text/javascript" src="../includes/scripts/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="../includes/scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../includes/scripts/jquery.reveal.js"></script>

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23810128-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>

    <title>Conference Schedule | Advances in Cognitive Systems</title>
  </head>
  <body>
    <div id="wrap">
      <div id="top">
	<img src="../includes/img/acs_cropped_bw.png" id="print_logo">
	<div class="wrapper">
	  <a id="apply" href="../apply">Apply&nbsp;&nbsp;Now</a>
	  <div id="dates">December 6 - 8 / Palo Alto, CA</div>
	  <div id="nav">
	    <ul>
	      <li><a href="../">Home</a></li>
	      <li><a href="../apply">Application</a></li>
	      <li><a href="../faq">FAQ</a></li>
        <!-- <li><a href="../attendance">Confirm Attendance</a></li> -->
        <!-- <li><a href="../submit">Paper Submission</a></li> -->
        <li><a href="../schedule">Symposium Schedule</a></li>
	    </ul>
	  </div>
	</div>
      </div>

      <div id="content">
	<div class="wrapper">	
	

<h1>Symposium Schedule</h1>
<h2>Thursday, December 6, 2012</h2>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Presenters</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9:00 AM</td>
      <td><em>Pat Langley</em></td>
      <td>Opening Remarks / Intelligent Behavior in Humans and Machines</td>
    </tr>
    <tr>
      <td>9:30 AM</td>
      <td><em>Scott Friedman</em></td>
      <td>Revising Domain Knowledge with Cross-Domain Analogy</td>
    </tr>
    <tr>
      <td>10:00 AM</td>
      <td><em>Mark Riedl</em></td>
      <td>Crowdsourcing Narrative Intelligence</td>
    </tr>
    <tr class="lineAbove lineBelow">
      <td>10:30 AM</td>
      <td><strong>Break</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>11:00 AM</td>
      <td>Andrei Barbu</td>
      <td>Seeing Unseeability to See the Unseeable</td>
    </tr>
    <tr>
      <td>11:30 AM</td>
      <td><em>Marjorie McShane</td>
      <td>Resolving Elided Scopes of Modality in OntoAgent</td>
    </tr>
    <tr>
      <td>12:00 PM</td>
      <td>Discussant (to be announced)</td>
      <td></td>
    </tr>
    <tr class="lineAbove lineBelow">
      <td>12:30 PM</td>
      <td><strong>Lunch</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>2:00 PM</td>
      <td>Paul Bello</td>
      <td>Pretense and Cognitive Architecture</td>
    </tr>
    <tr>
      <td>2:30 PM</td>
      <td>Jerry Lin</td>
      <td>Computational Models of Emotion and Cognition</td>
    </tr>
    <tr>
      <td>3:00 PM</td>
      <td>Discussant (to be announced)</td>
      <td></td>
    </tr>
    <tr class="lineAbove">
      <td>3:30 PM</td>
      <td><strong>Break</strong></td>
      <td></td>
    </tr>
    <tr class="lineAbove lineBelow">
      <td>4:00 PM</td>
      <td>Invited talk (to be announced)</td>
      <td></td>
    </tr>
    <tr>
      <td>4:30 PM</td>
      <td>David Barbella</td>
      <td>Analogical Word Sense Disambiguation</td>
    </tr>
    <tr>
      <td>5:00 PM</td>
      <td>Shiwali Mohan</td>
      <td>Acquiring Grounded Representations of Words</td>
    </tr>
    <tr class="lineAbove lineBelow">
      <td>5:30 PM</td>
      <td><strong>Break</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>6:00 PM</td>
      <td><strong>Reception and dinner</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>8:00 PM</td>
      <td><strong>Day ends</strong></td>
      <td></td>
    </tr>
    <tr></tr>
  </tbody>
</table>


<h2>Friday, December 7, 2012</h2>
<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Presenters</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9:00 AM</td>
      <td>Invited talk (to be announced)</td>
      <td></td>
    </tr>
    <tr>
      <td>9:30 AM</td>
      <td>Kanna Rajan</td>
      <td>Distributed Decision-Making in Situated Agents</td>
    </tr>
    <tr>
      <td>10:00 AM</td>
      <td>Jan Winkler</td>
      <td>High Level Task Abstraction and Execution</td>
    </tr>
    <tr class="lineAbove lineBelow">
      <td>10:30 AM</td>
      <td><strong>Break</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>11:00 AM</td>
      <td></td>
      <td>Foundational Issues for Cognitive Systems</td>
    </tr>
    <tr class="lineAbove lineBelow">
      <td>12:30 PM</td>
      <td><strong>Break</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>2:00 PM</td>
      <td>Invited talk (to be announced)</td>
      <td></td>
    <tr>
      <td>2:30 PM</td>
      <td>Nan Li</td>
      <td>Complex Skill Acquisition and Representation Learning</td>
    </tr>
    <tr>
      <td>3:00 PM</td>
      <td>Bert Bredeweg</td>
      <td>Establishing Progressive Learning Spaces</td>
    </tr>
    <tr class="lineAbove lineBelow">
      <td>3:30 PM</td>
      <td><strong>Break</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>4:00 PM</td>
      <td>Michael Cox</td>
      <td>Noting Anomalies in Streams of Symbolic Predicates</td>
    </tr>
    <tr>
      <td>4:30 PM</td>
      <td>Susan Epstein</td>
      <td>Toward Cognitively-plausible Recommendations</td>
    </tr>
      <td>5:00 PM</td>
      <td>Discussant (to be announced)</td>
      <td></td>
    <tr class="lineAbove lineBelow">
      <td>5:30 PM</td>
      <td><strong>Break</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>6:00 PM</td>
      <td><strong>Poster reception</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>8:00 PM</td>
      <td><strong>Day ends</strong></td>
      <td></td>
    </tr>
    <tr></tr>
  </tbody>
</table>


<h2>Saturday, December 6, 2012</h2>
<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Presenters</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9:00 AM</td>
      <td>Invited talk (to be announced)</td>
      <td></td>
    </tr>
    <tr>
      <td>9:30 AM</td>
      <td>Andrei Barbu</td>
      <td>Object Detection, Tracking, and Event Recognition</td>
    </tr>
    <tr>
      <td>10:00 AM</td>
      <td>John E. Laird</td>
      <td>Online Determination of Value-Function Structure</td>
    </tr>
    <tr class="lineAbove lineBelow">
      <td>10:30 AM</td>
      <td><strong>Break</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>11:00 AM</td>
      <td>Vadim Bulitko</td>
      <td>A Reinforcement Learning Model of Flow</td>  
    </tr>
    <tr>
      <td>11:30 AM</td>
      <td>Tao Mao</td>
      <td>Modeling Incubation and Restructuring</td>
    </tr>
    <tr>
      <td>12:00 PM</td>
      <td>Discussant (to be announced)</td>
      <td></td>
    </tr>
    <tr class="lineAbove lineBelow">
      <td>12:30 PM</td>
      <td><strong>Lunch / Closing discussion</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>2:00 PM</td>
      <td><strong>Conference ends</strong></td>
      <td></td>
    </tr>
    <tr></tr>
  </tbody>
</table>
<br><br>
     
        </div>
      </div>
      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="wrapper">
	<div class="col">
	  <h3>Navigation</h3>
	  <ul class="bot">
	    <li><a href="../">Home</li>
	    <li><a href="../apply">Application</li>
	  </ul>
	</div>
	<div class="col">
	  <h3>Sponsors</h3>
	  <ul class="bot">
	    <li><a target="_blank"
		   href="http://www.ida.liu.se/ext/aijd/">Artificial
		Intelligence journal</a></li>
	  </ul>
	</div>
	<div class="col">
	  <h3>Contact</h3>
	  <p>
	    Please direct all questions and comments to the Program
	    Chair, Pat Langley
	    (<a href="mailto:langley@asu.edu">langley@asu.edu</a>).
	  </p>
	</div>
      </div>
    </div>
  </body>
</html>
