.hidden { display: none; }
.clearfix { clear: both; }
body {
  font-size: 14px;
  font-family: helvetica, droid sans, arial, verdana, tahoma, sans-serif;
  color: #444444;
  color: rgba(0, 0, 0, 0.7);
  text-rendering: optimizeLegibility;
  -webkit-text-stroke: 1px transparent;
  outline-style: inherit;
  outline-width: 0.05px;
  outline-color: rgba(255, 255, 255, 0.025);
  margin-bottom: 8em;
  background: #efefef;
  counter-reset: section;
}
.wrapper {
  max-width: 900px;
  min-width: 900px;
  padding: 28px;
  margin: 0px auto;
}
a {
  outline: none;
  text-decoration: none;
  font-weight: bold;
  color: #990000;
  color: rgba(200, 0, 0, 0.8);
  border-bottom: dashed 1px #990000;
  border-bottom: dashed 1px rgba(200, 0, 0, 0.8);
}
h1, h2, h3, h4, h5 {
  color: #222222;
  color: rgba(0, 0, 0, 0.8);
}
#top {
  background-color: #444444;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4) inset;
}
#top h1 {
  color: #ffffff;
  letter-spacing: -0.06em;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.9);
}
#top h1 span {
  font-family: baskerville, palatino, hoefler text, palatino linotype, constantia, symbol, serif, helvetica, droid sans, arial, verdana, tahoma, sans-serif;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.75);
  font-style: italic;
}
#top h2 {
  font-size: 1.25em;
  padding-top: 1em;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: -0.06em;
}
#nav_left {
  float: right;
  width: 120px;
  font-size: 0.9em;
  padding: 14px;
  padding-right: 0px;
  background: rgba(0, 0, 0, 0.07);
  margin-top: -29px;
  -webkit-bottom-left-radius: 1em;
  -moz-border-radius-bottomleft: 1em;
  border-bottom-left-radius: 1em;
  -webkit-bottom-right-radius: 1em;
  -moz-border-radius-bottomright: 1em;
  border-bottom-right-radius: 1em;
}
#nav_left strong {
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 0.5em;
}
#nav_left a {
  border-bottom: none;
  color: inherit;
  font-weight: normal;
}
#nav_left ul { margin-bottom: 0px !important; }
#nav_left ul li {
  list-style-type: none !important;
  margin-left: 0px !important;
}
#schedule {
  float: left;
  max-width: 738px;
}
#schedule h1:before {
  white-space: pre-wrap;
  counter-increment: section;
  content: counter(section) "  ";
}
#contents { border-top: solid 1px #ffffff; }
#contents p {
  line-height: 1.4em;
  margin: 0px;
  margin-bottom: 1.4em;
}
#contents .wrapper h1 {
  font-size: 1.7em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
}
#contents .wrapper h1:first-child {
  border-top: none;
  padding-top: 0px;
  margin-top: 0px;
}
#contents .wrapper h1 strong {
  color: #666666;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  float: right;
  font-size: 16.8px;
  margin-left: 1.9em;
}
#contents .wrapper h2 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#contents ul { margin-bottom: 1.4em; }
#contents ol { margin-bottom: 1.4em; }
#contents ul ul { margin-bottom: 0px; }
#contents ul ol { margin-bottom: 0px; }
#contents ol ul { margin-bottom: 0px; }
#contents ol ol { margin-bottom: 0px; }
#contents ol ol li { list-style-type: lower-alpha; }
#contents ul li {
  font-size: 1em;
  margin-left: 2em;
  line-height: 1.4em;
}
#contents ol li {
  font-size: 1em;
  margin-left: 2em;
  line-height: 1.4em;
}
#contents ul li { list-style-type: disc; }
#contents ol li { list-style-type: decimal; }
#contents ul li strong em {
  background-color: rgba(255, 0, 0, 0.2);
  display: block;
  font-style: normal;
}
#nav {
  background-color: #990000;
  font-size: 0.9em;
}
#nav .wrapper { padding: 0px; }
#nav ul {
  margin: 0px;
  padding: 0px;
}
#nav ul li {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
#nav a {
  color: #e5bfbf;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  font-weight: normal;
  display: inline-block;
  padding: 1em;
}
#nav a:hover {
  color: #ffffff;
  background: #a21616;
  background: rgba(255, 255, 255, 0.09);
}
#contents img.float-left {
  float: left;
  margin-right: 1em;
}
img.fancy {
  border: solid 5px #ffffff;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}
img.profile {
  max-height: 8em;
  max-width: 6em;
}
img.centered {
  display: block;
  margin: 0px auto;
}
img.inline {
  max-width: 50em;
  max-height: 50em;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
code, kbd, pre {
  font-family: monaco, menlo, bitstream vera sans mono, dejavu sans mono, consolas, courier new, monospace;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.85em;
}
pre {
  margin: 1.4em;
  margin-top: 0px;
  padding: 1.2em;
  line-height: 1.2em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}
pre code {
  background-color: transparent;
  font-size: 1em;
}
form label {
  display: inline-block;
  width: 8em;
}
form input[type="text"] {
  width: 15em;
  font-family: helvetica, droid sans, arial, verdana, tahoma, sans-serif;
  padding: 0.25em;
  color: inherit;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border: solid 1px #999999;
}
form input[type="password"] {
  width: 15em;
  font-family: helvetica, droid sans, arial, verdana, tahoma, sans-serif;
  padding: 0.25em;
  color: inherit;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border: solid 1px #999999;
}
form input[type="text"].big {
  font-family: helvetica, droid sans, arial, verdana, tahoma, sans-serif;
  font-size: 1.5em;
  padding: 0.5em;
  color: inherit;
  width: 20em;
}
form input[type="password"].big {
  font-family: helvetica, droid sans, arial, verdana, tahoma, sans-serif;
  font-size: 1.5em;
  padding: 0.5em;
  color: inherit;
  width: 20em;
}
form input[type="text"]:focus {
  border: solid 1px #cc0000;
  color: rgba(0, 0, 0, 0.9);
}
form input[type="password"]:focus {
  border: solid 1px #cc0000;
  color: rgba(0, 0, 0, 0.9);
}
table {
  font-size: inherit;
  margin-bottom: 1.4em;
}
table td {
  padding: 0.5em 0px;
  padding-right: 2em;
}
table th {
  padding: 0.5em 0px;
  padding-right: 2em;
}
table th {
  text-align: left;
  border-bottom: solid 1px #444444;
}
table td { border-bottom: solid 1px #999999; }
table tr:last-child td { border-bottom: none; }
.error { color: #cc0000; }
